{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Auth_app/main.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Hello I am first Auth app learning template</h1>
    <img src="{% static 'Auth_app/monkey.jpg' %}" alt="">
    <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
</body>
</html>